<form action="/users/login" method="POST">
    <label for="email">Username</label>
    <input type="text">

    <label for="password">Password</label>
    <input type="password">

    <input type="submit" id="loginSubmit" value="Login">

    <a href="/users/register">
        <p>Click here to register</p>
    </a>
</form>