{{!-- <form action="/users/login" method="POST">
    <label for="email">Email</label>
    <input name="email" type="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <input type="submit" id="loginSubmit" value="Login">

    <a href="/users/register">
        <p>Click here to register</p>
    </a>
</form> --}}

<div class="modal-dialg text-center">
    <div class="col-sm-4 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="../assets/images/profileImage.png" alt="">
            </div>
            {{> errorMessages}}
            <form class="col-12" action="/users/login" method="POST">
                <div class="form-group">
                    <input name="email" type="email" id="email" class="form-control" placeholder="Enter Email Address">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control"
                        placeholder="Enter Password">
                </div>
                <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Login</button>
            </form>
            <div class="col-12 register">
                <a href="/users/register">Click here to register</a>
            </div>
        </div> <!-- End of Modal Content  -->
    </div>
</div>

<footer>
    <div class="footer">&copy; Copyright 2019</div>
</footer>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }

    th {
        background-color: grey;
        color: white;
    }
</style>