<form action="/users/login" method="POST">
    <label for="email">Email</label>
    <input name="email" type="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <input type="submit" id="loginSubmit" value="Login">

    <a href="/users/register">
        <p>Click here to register</p>
    </a>
</form>