{{!-- <nav class="nav">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="#">Profile</a>
</nav> --}}


<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
    <div class=" navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#">
            <img src="../assets/images/icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            BudgetFriendly
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul>
                <div class="nav-item dropdown">
                    <div class="btn-group">
                        <div class="">
                            <nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
                                <div class=" navbar-collapse" id="navbarSupportedContent">

                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                                        </li>
                                    </ul>
                                    <form class="form-inline my-2 my-lg-0">
                                        <ul>
                                            <div class="nav-item dropdown">

                                                <div class="dropdown" id="profileDropdown">
                                                    <div class="dropdown-button" id="profileDropdown-button">
                                                        <a href="#">PROFILE</a>
                                                    </div>
                                                    <ul>
                                                        <li><button class="dropdown-item" type="button">"User"</button>
                                                        </li>
                                                        <li><a class="dropdown-item" href="/users/logout">Log out</a>
                                                        </li>
                                                    </ul>
                                                </div>


                                            </div>
                                </div>
            </ul>
        </form>
    </div>
</nav>
</div>


<br>
<br>
<br>
<br>
<br>

<div class="container mt-5">

    <h1 class="ProfileWelcome"> Hello{{User.name}} </h1>
    <br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="timeOptions">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" value="all" checked> All transactions
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off" value="1"> 1 Month
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off" value="3"> 3 Months
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option4" autocomplete="off" value="12"> 1 Year
        </label>
    </div>
    <br>
    <br>

    <div id="tableContainer"></div>
    <script>
        function populateTransactions(value) {
            if (value == "all") {
                $.get("/transactions").then(function (data) {
                    $("#tableContainer").html(data);
                })
            } else {
                var Mdate = moment().subtract(parseInt(value), 'months').format();
                //console.log("one month back ", Mdate);
                $.get("/transactions", { 'from': Mdate }).then(function (data) {
                    //console.log(data); 
                    $("#tableContainer").html(data);
                })
            }
            // Make an AJAX request to /transactions
            // Put the results inside #tableContainer
        }
        $("#timeOptions input").change(function (event) {
            populateTransactions(event.target.value);
        });
        populateTransactions("all");
    </script>
    <div class="row justify-content-center">

        <br><br>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">New Transaction</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Transaction</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/profile" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputCategory">Category:</label>
                                    <select id="inputCategory" class="form-control" name="category">
                                        <option value="Utilities" selected>Utilities</option>
                                        <option value="Health">Health</option>
                                        <option value="Housing">Housing</option>
                                        <option value="Grocery">Grocery</option>
                                        <option value="Automotive">Automotive</option>
                                        <option value="Enterntainment">Enterntainment</option>
                                        <option value="Education">Education</option>
                                        <option value="Misc">Misc</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Amount:</label>
                                    <input type="number" class="form-control" id="amount" name="amount">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" id="addButton" value="Add Transaction" />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>


    <footer>
        <div class="footer">&copy; Copyright 2019</div>
    </footer>

    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }

        th {
            background-color: grey;
            color: white;
        }
    </style>