{{!-- <nav class="nav">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="#">Profile</a>
</nav> --}}


<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
    <div class=" navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#">
            <img src="../assets/images/icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            BudgetFriendly
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul>
                <div class="nav-item dropdown">
                    {{!-- <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            data-display="static" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <button class="dropdown-item" type="button">"User's username or fullname"</button>
                            <button class="dropdown-item" type="button">App Settings</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" type="button">Log out</button>
                        </div> --}}
                    <div class="dropdown" id="profileDropdown">
                        <div class="dropdown-button" id="profileDropdown-button">
                            <a href="#">PROFILE</a>
                        </div>
                        <ul>
                            <li><button class="dropdown-item" type="button">"User"</button></li>
                            <li><button class="dropdown-item" type="button">App Settings</button></li>
                            <li><button class="dropdown-item" type="button">Log out</button></li>
                        </ul>
                    </div>
                </div>
    </div>
    </ul>
    </form>
    </div>
</nav>


<br>
<br>
<br>
<br>
<br>

<div class="container mt-5">
    <h1 class="ProfileWelcome"> Hello John!</h1>
    <br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> 1 Month
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> 3 Months
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> 1 Year
        </label>
    </div>
    <br>
    <br>

    <div class="row justify-content-center">

        <br><br>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">New Transaction</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Transaction</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Category
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Amount:</label>
                                    <input type="number" class="form-control" id="amount">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="addButton">Add Transaction</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>


    <footer>
        <div class="footer">&copy; Copyright 2019</div>
    </footer>

    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }

        th {
            background-color: grey;
            color: white;
        }
    </style>