<div class="row justify-content-center d-flex align-items-center align-self-center mt-5">
    <div class="col-sm-6 m-auto">
        <div class="card">
            <div class="card-header align-middle">
                <h4>Complete form to register</h4>
            </div>
            <div class="card-body">
                {{> errorMessages}}
                <form action="/users/register" method="POST">
                    <div class="form-group"> <label for="newName">Name</label>
                        <input type="text" name="newName" id="newName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="newEmail">Email</label>
                        <input type="email" name="newEmail" id="newEmail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Enter a password</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="newPassword2">Enter password again</label>
                        <input type="password" name="newPassword2" id="newPassword2" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="registerSubmit" value="Create account" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>