{{!-- <h3>Complete form to register</h3>

{{> errorMessages}}
<form action="/users/register" method="POST">
    <label for="newName">Username</label>
    <input type="text" name="newName" id="newName">

    <label for="newEmail">Email</label>
    <input type="email" name="newEmail" id="newEmail">
    <br><br>
    <label for="newPassword">Enter a password</label>
    <input type="password" name="newPassword" id="newPassword">

    <label for="newPassword2">ReEnter the password</label>
    <input type="password" name="newPassword2" id="newPassword2">
    <br><br>
    <input type="submit" id="registerSubmit" value="Create account">
</form> --}}


<div class="container">

    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <div id="ui">
                <h1 class="text-center">REGISTER NOW</h1>
                {{> errorMessages}}
                <form action="/users/register" method="POST" class="form-group text-center">
                    {{!-- <div class="row">
                        <div class="col-lg-6">
                            <label>First Name:</label>
                            <input type="text" name="fname" class="form-control" placeholder="Enter your first name">
                        </div>
                        <div class="col-lg-6">
                            <label>Last Name:</label>
                            <input type="text" name="lname" class="form-control" placeholder="Enter your last name">
                        </div>
                    </div> --}}
                    <label for="newName">Name</label>
                    <input type="text" name="newName" id="newName" class="form-control"
                        placeholder="Enter your new name...">
                    <br>
                    <label for="newEmail"> Email</label>
                    <input type="email" name="newEmail" id="newEmail" class="form-control"
                        placeholder="Enter your E-mail...">
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Password:</label>
                            <input type="password" name="newPassword" id="newPassword" class="form-control"
                                placeholder="Enter new password..">
                        </div>
                        <div class="col-lg-6">
                            <label>Retype Password:</label>
                            <input type="password" name="newPassword2" id="newPassword2" class="form-control"
                                placeholder="Re-type again..">
                        </div>
                    </div>
                    <br>
                    <input type="submit" id="registerSubmit" name="submit" value="Create account"
                        class="btn btn-primary btn-block btn-lg">
                </form>
            </div>
        </div>

        <div class="col-lg-3"></div>

    </div>

</div>

<footer>
    <div class="footer">&copy; Copyright 2019</div>
</footer>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }

    th {
        background-color: grey;
        color: white;
    }
</style>