/*============= COURSE SECTION =============*/
h1,
h5 {
  text-shadow: 2px 3px #000000;
}
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
  background-size: cover;
  /* background-image: url(../images/registrationBackground.jpg); */
}

.ProfileWelcome {
  font-family: "Ranga", cursive;
}

.navbar {
  vertical-align: top;
}

.dropdown {
  margin: 0 auto;
  margin-top: 50px;
  width: 150px;
}
.dropdown-button {
  padding: 10px;
  background: white;
}

.dropdown-button a {
  color: #333;
  text-decoration: none;
}

.dropdown ul {
  list-style-type: none;
}

.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}

.carousel-item {
  height: 100vh;
}

.carousel-caption {
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 50%;
  right: 0;
  left: 27%;
}

.carousel-caption h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
